@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Navin Turkar</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Let's build something special Guyzzz!</a>.</p>
</div>
